# podman
CONTAINER_NAME="aistack"
IMAGE_NAME="ubuntu:24.04"

# opencodex
OPENCODEX_API_AUTH_TOKEN=""  # 必填。 在局域网内共享opencodex服务，必需填写

# git
GIT_NAME="" # 必填
GIT_EMAIL="" # 必填
SUNSHINE_IP="" # 可选。 需要替换为局域网内進行sunshine广播的机器的ip，仅用在终端log显示中。
SSH_KEY_PATH="$HOME/.ssh/id_ed25519"
